# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# prisma
**/prisma/*.db

# logs / os / editor
*.log
.DS_Store
.idea/
.vscode/
coverage/
